<div id="<%= dom_id mascotum %>">
  <p>
    <strong>Nombre:</strong>
    <%= mascotum.nombre %>
  </p>

  <p>
    <strong>Especie:</strong>
    <%= mascotum.especie %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= mascotum.raza %>
  </p>

  <p>
    <strong>Fotoperfil:</strong>
    <%= mascotum.fotoPerfil %>
  </p>

  <p>
    <strong>Fechanacimiento:</strong>
    <%= mascotum.fechaNacimiento %>
  </p>

  <p>
    <strong>Notas:</strong>
    <%= mascotum.notas %>
  </p>

  <p>
    <strong>Clientes:</strong>
    <%= mascotum.clientes_id %>
  </p>

</div>
