<%= form_with(model: estado_citum) do |form| %>
  <% if estado_citum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(estado_citum.errors.count, "error") %> prohibited this estado_citum from being saved:</h2>

      <ul>
        <% estado_citum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombreEstado, style: "display: block" %>
    <%= form.text_field :nombreEstado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
