<div id="<%= dom_id citum %>">
  <p>
    <strong>Fechahora:</strong>
    <%= citum.fechaHora %>
  </p>

  <p>
    <strong>Duracion:</strong>
    <%= citum.duracion %>
  </p>

  <p>
    <strong>Estado citum:</strong>
    <%= citum.estado_citum_id %>
  </p>

  <p>
    <strong>Mascota:</strong>
    <%= citum.mascota_id %>
  </p>

  <p>
    <strong>Veterinario:</strong>
    <%= citum.veterinario_id %>
  </p>

  <p>
    <strong>Servicio:</strong>
    <%= citum.servicio_id %>
  </p>

</div>
